@{
    ViewData["Title"] = "Index";
}

<h3>Past Sessions</h3>
<div>
    <canvas id="sessionChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const sessionCtx = document.getElementById('sessionChart');

    var sessionLabels = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.SessionLabels))')
    var sessionAttempt = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.SessionAttempt))')
    var sessionTop = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.SessionTop))')
    var sessionFlash = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.SessionFlash))')
    var sessionBoulders = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.SessionBoulders))')

    new Chart(sessionCtx, {
        type: 'line',
        data: {
            labels: sessionLabels,
            datasets: [{
                label: 'Attempts',
                data: sessionAttempt,
                borderColor: 'lightblue',
                backgroundColor: '#9BD0F5',
            },
            {
                label: 'Tops',
                data: sessionTop,
                borderColor: 'green',
                backgroundColor: '#FFB1C1',
            },
            {
                label: 'Flashs',
                data: sessionFlash,
                borderColor: 'red',
                backgroundColor: '#FFB1C1',
            },
            {
                label: 'Climbs',
                data: sessionBoulders,
                borderColor: 'navy',
                borderDash: [10],
                backgroundColor: '#FFB1C1',
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    ticks: {
                        stepSize: 1
                    }
                }

            }
        }
    });
</script>
