@model IEnumerable<Boulderlog.Data.Models.Climb>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gym)
            </th>
            <th colspan="3">
                @Html.DisplayNameFor(model => model.Wall)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gym)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wall)
            </td>
            <td>
                @foreach(var log in ViewData) {
                   <span>@log.Key: @log.Value</span>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-action="Create" asp-controller="ClimbLog" asp-route-climbId="@item.Id">Log</a> |
            </td>
        </tr>
}
    </tbody>
</table>